<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width:45%">
        <tr style="font-size:16px; font-family:'Californian FB'">
            <td>
                <form method="post" enctype="multipart/form-data" action="{%url 'lege_DataPDF' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Ok" />
                </form>
            </td>
            <td>
                <form method="post" enctype="multipart/form-data" action="{%url 'reportData' %}">
                    {% csrf_token %}
                    <input type="submit" value="Reporti" />
                </form>
            </td>
            <td>
                <form method="post" enctype="multipart/form-data" action="{%url 'listaBDBottegue' %}">
                    {% csrf_token %}
                    <input type="submit" value="Data Base" />
                </form>
            </td>
        </tr>

    </table>
            <div style="margin-bottom:20px;border-bottom:1px solid #ccc; padding-bottom:10px; display:flex; align-items:flex-start; flex-direction:row; gap:30px 20px">
                <table style="width:45%">

                    <tr style="font-size:16px; font-family:'Californian FB'">
                        <td style="padding-right:20px">BOTTEGA</td>
                        <td style="padding-right:20px">TOTALE INCASSI</td>
                        <td style="padding-right:20px">TOTALE INCASSI PRECEDENTE</td>
                        <td style="padding-right:20px">DIFFERENZA % PERIODO PRECEDENTE</td>
                        <td>INGRESSI</td>
                    </tr>

                    <tr style="font-size:14px; color:darkcyan; font-family:'Californian FB'">
                        <td>Macelleria di Milano</td>
                        <td align="left">{{correos.mm.inc}}</td>
                        <td align="left">{{correos.mm.pre}}</td>
                        <td align="left">{{correos.mm.dif}}</td>
                        <td align="left">{{correos.mm.ing}}</td>
                    </tr>

                </table>
            </div>
</body>
</html>